body{
    margin: 0;
    display: inline;
}

#sectionA {
    background: blue;
    float: left;
    width: 33%;
}

#sectionB {
    background: red;
    float: left;
    width: 33%;
}

#sectionC {
    background: green;
    float: left;
    width: 33%;
}