* {
	margin: 0px;
	padding: 0px;
}
.bodyContainer {
	margin: auto;
	margin-top: auto;
	width: 700px;
	height: 400px;
	text-align: center;
}

.leftContainer {
	size: inherit;
	float: left;
	width: 55%;
	height: inherit;
	flex-direction: column;
	line-height: 150px;
}

#div1 {
	background-color: red;
	size: inherit;
	width: 100%;
	height: 50%;
	border-radius: 30px;
}
#div2 {
	background-color: blue;
	size: inherit;
	width: 100%;
	height: 50%;
	border-radius: 30px;
}

.rightContainer {
	size: inherit;
	float: right;
	width: 45%;
	height: inherit;
	color: white;
	line-height: 50px;
}

#div3 {
	background-color: blue;
	size: inherit;
	width: 100%;
	height: 25%;
	border-radius: 30px;
}

#div4 {
	background-color: yellow;
	size: inherit;
	width: 100%;
	height: 25%;
	border-radius: 30px;
}

#div5 {
	background-color: red;
	size: inherit;
	width: 100%;
	height: 25%;
	border-radius: 30px;
}

#div6 {
	background-color: black;
	size: inherit;
	width: 100%;
	height: 25%;
	border-radius: 30px;
}
